apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - httproutes.yaml
  # - alloy.yaml

configMapGenerator:
  - name: alloy-config
    namespace: monitoring
    files:
      - alloy-config.alloy
    options:
      disableNameSuffixHash: true

helmCharts:
- name: kube-prometheus-stack
  namespace: monitoring
  repo: https://prometheus-community.github.io/helm-charts
  version: 82.3.0
  releaseName: kube-prometheus-stack
  valuesFile: prom-values.yaml