apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: workflows-db
  namespace: databases
spec:
  description: "Workflows DB"
  instances: 1
  primaryUpdateStrategy: unsupervised
  postgresUID: 65534
  postgresGID: 65534 

  enableSuperuserAccess: true

  bootstrap:
    initdb:
      database: argo_workflows
      owner: workflows

  storage:
    storageClass: nfs-csi
    size: 1Gi

  plugins:
  - name: barman-cloud.cloudnative-pg.io
    enabled: true
    isWALArchiver: true
    parameters:
      barmanObjectName: r2-store

  resources:
    requests:
      memory: "100Mi"
      cpu: "50m"
    limits:
      memory: "1Gi"
      cpu: "300m"

  affinity:
    enablePodAntiAffinity: true