global:
  imageRegistry: "docker.io"
  timezone: "Europe/Dublin"
  # -- Node selector for nodes allowed to run user-deployed components such as Longhorn Manager, Longhorn UI, and Longhorn Driver Deployer.
  nodeSelector: {}

service:
  ui:
    type: ClusterIP
persistence:
  defaultClass: true
  defaultClassReplicaCount: 2

preUpgradeChecker:
            jobEnabled: false
longhornUI:
  replicas: 1

metrics:
  serviceMonitor:
    enabled: false



