---
- name: Install and Enable Node Exporter
  hosts: all
  become: true

  tasks:
    - name: Install package
      ansible.builtin.apt:
        name:
          - prometheus-node-exporter
        state: present
        update_cache: yes

    - name: Ensure node-exporter service is started and enabled
      ansible.builtin.systemd:
        name: prometheus-node-exporter
        state: started
        enabled: true
