---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-dns
rules:
- apiGroups: [""]
  resources: ["services", "pods", "nodes", "namespaces"]
  verbs: ["get", "watch", "list"]
- apiGroups: ["discovery.k8s.io"]
  resources: ["endpointslices"]
  verbs: ["get", "watch", "list"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get", "watch", "list"]
- apiGroups: ["gateway.networking.k8s.io"] 
  resources: ["gateways","httproutes", "udproutes", "tlsroutes", "tcproutes"] 
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: external-dns-viewer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-dns
subjects:
- kind: ServiceAccount
  name: external-dns
  namespace: external-dns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        image: registry.k8s.io/external-dns/external-dns:v0.20.0
        envFrom:
        - secretRef:
            name: external-dns-secret
        args:
        - --source=service
        - --source=ingress
        - --source=gateway-httproute
        - --source=gateway-tcproute
        - --source=gateway-udproute
        - --source=gateway-tlsroute
        - --registry=noop
        - --policy=upsert-only
        - --provider=pihole
        - --pihole-api-version=6
        - --pihole-server=http://192.168.0.2
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            cpu: 300m
            memory: 300Mi
        ports:
        - containerPort:  7979
          name:  metrics