apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: external-dns
  namespace: external-dns
  labels:
    release: prometheus 
spec:
  selector:
    matchLabels:
      app: external-dns
  namespaceSelector:
    matchNames:
      - external-dns
  podMetricsEndpoints:
    - port: metrics
      interval: 10s
      path: /metrics