apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml

helmCharts:
- name: keda
  namespace: keda
  repo: https://kedacore.github.io/charts
  version: 2.19.0
  releaseName: keda